@import '/src/assets/styles/helpers/variables';

.coupon {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: $bgBadge;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  padding: 0.1875rem 0.25rem;
  font-size: $text-small;
  font-weight: $font-medium;
  border-radius: 0.25rem;
}
