@import '/src/assets/styles/helpers/variables';

.main {
  display: flex;
  position: relative;
  background-color: $primary;
  min-height: 100dvh;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 2.5rem;

  &__description {
    color: $tWhite;
    font-size: 1.25rem;
    margin-top: 30%;
    text-align: center;
    font-weight: 500;
  }

  &__button {
    background-color: $white;
    color: $primary;
    &:hover {
      background-color: $tLighter;
    }
  }

  &__icon {
    position: absolute;
    fill: $white;
    width: 20%;
    left: 12%;
    bottom: 8%;
  }

  &__developer {
    direction: ltr;
    margin-top: auto;
    color: $white;
    transition: all;
    transition-duration: 800ms;
    opacity: 50%;
    &:hover {
      opacity: 100%;
    }
    & a {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }
}
