@import '/src/assets/styles/helpers/variables';
.main {
  padding: 0 0.75rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 100dvh;

  &__cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
