@font-face {
  font-family: iranSansX;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/iransansx/woff2/IRANSansXFaNum-Regular.woff2')
      format('woff2'),
    url('../fonts/iransansx/woff/IRANSansXFaNum-Regular.woff') format('woff');
}

@font-face {
  font-family: iranSansX;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/iransansx/woff2/IRANSansXFaNum-Light.woff2')
      format('woff2'),
    url('../fonts/iransansx/woff/IRANSansXFaNum-Light.woff') format('woff');
}

@font-face {
  font-family: iranSansX;
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/iransansx/woff2/IRANSansXFaNum-UltraLight.woff2')
      format('woff2'),
    url('../fonts/iransansx/woff/IRANSansXFaNum-UltraLight.woff') format('woff');
}

@font-face {
  font-family: iranSansX;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/iransansx/woff2/IRANSansXFaNum-Medium.woff2')
      format('woff2'),
    url('../fonts/iransansx/woff/IRANSansXFaNum-Medium.woff') format('woff');
}

@font-face {
  font-family: iranSansX;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/iransansx/woff2/IRANSansXFaNum-Bold.woff2') format('woff2'),
    url('../fonts/iransansx/woff/IRANSansXFaNum-Bold.woff') format('woff');
}

@font-face {
  font-family: iranSansX;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/iransansx/woff2/IRANSansXFaNum-Black.woff2')
      format('woff2'),
    url('../fonts/iransansx/woff/IRANSansXFaNum-Black.woff') format('woff');
}
