@import './helpers/variables';
@import './vars.scss';
@import './fonts.scss';

:root {
  background-color: $gray;
}

html,
body {
  direction: rtl;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family:
    iransansX,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  max-width: 48rem;
  margin: 0 auto;
  min-height: 100dvh;
  background-color: $bgMain;
  color: $tPrimary;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    background: $bgMain;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $bgMain;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 9999px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

//SKELETON
.skeleton {
  cursor: wait;
  position: relative;
  overflow: hidden;
  background-color: #efefef !important;
  color: #efefef !important;
  border-radius: 0.25rem;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0.05) 20%,
      rgba(0, 0, 0, 0.1) 35%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.1) 65%,
      rgba(0, 0, 0, 0.05) 80%,
      rgba(0, 0, 0, 0) 95%
    );
    animation: shimmer 3s infinite;
    content: '';
  }
  & > * {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

//SPINNER

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.4s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//TOAST
.customToast {
  margin: 1rem;
  border-radius: 0.5rem;
}
